*.jpg
*.png
*.gif
*.mp4
*.jpeg
*.JPG
*.PNG
*.GIF
*.MP4
*.JPEG
Parcial2/model
Parcial1/ConvolutionalNeuronal/modelo
Parcial1/ConvolutionalNeuronal/modelo_bck
Parcial1/ConvolutionalNeuronal/modelo_bck97